
   body {
    position: relative;
    height: 100%;
  }

  body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }

#heading{
font-size: 6vw;
position: relative;
margin-left: 35px;
text-transform: uppercase;
font-family: cursive;
}

#audio_img{
    width : 80px;
    height: 80px;
    vertical-align: middle;

}
#song_path,#message,#Demessage,#file{
    width:30em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    display: block;
}
#Encode, #Decode{
    text-align: center;
}
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
/*card info*/
.container {
width: 1000px;
position: relative;
display: flex;
justify-content: space-between;
}

.container .card {
    position: relative;
    border-radius: 10px;
    border: none;
    box-shadow: none;
    height: min-content;
}

.container .card .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: 0.7s;
    z-index: 1;
}

.container .card:nth-child(1) .icon {
    background: #e07768;
}

.container .card:nth-child(2) .icon {
    background: #6eadd4;
}

.container .card:nth-child(3) .icon {
    background: #4aada9;
}


.container .card .icon .fa {
    position: absolute;
    top: 50%;
    left: 50%;
<!--        transform: translate(-50%, -50%);-->
    font-size: 80px;
    transition: 0.7s;
    color: #fff;
}

.container img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.7s;
    max-width: 100%;
    max-height: 100%;
    color: #fff;
}

.face {
    width: 250px;
    height: 190px;
    transition: 0.5s;
}

.container .card .face.face1 {
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
<!--        transform: translateY(90px);-->
}

.container .card:hover .face.face1{
    background: #ff0057;
<!--        transform: translateY(0px);-->
}

.container .card .face.face1 .content {
    opacity: 1;
    transition: 0.5s;
}

.container .card:hover .face.face1 .content {
    opacity: 1;
}

.container .card .face.face1 .content i{
    max-width: 100px;
}
.face2{
    width: 250px;
    height: 90px;
}
.container .card .face.face2 {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,0.8);
<!--        transform: translateY(-100px);-->
}

.container .card:hover .face.face2{
<!--        transform: translateY(0);-->
}

.container .card .face.face2 .content p {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #414141;
}

.container .card .face.face2 .content h3 {
    margin: 0 0 10px 0;
    padding: 0;
    color: #fff;
    font-size: 24px;
    text-align: center;
    color: #414141;
}

.container a {
    text-decoration: none;
    color: #414141;
}

